<div class="pure-u-1-5" id="docs-nav">
  <div class="pure-menu pure-menu-open">
    <ul>
      <li class="pure-menu-heading">
        Getting Started
      </li>
      {% include docs_ul.html items='home quickstart' %}
      <li class="pure-menu-heading">
        Key Concepts
      </li>
      {% include docs_ul.html items='key-attribute patterns templates augments listeners endpoints receivers' %}
      <li class="pure-menu-heading">
        Using the CxEngage DSL
      </li>
      {% include docs_ul.html items='dsl when then' %}
      <li class="pure-menu-heading">
        Integrating with CxEngage
      </li>
      {% include docs_ul.html items='integrate authentication custom-events using-augments integrations using-endpoints using-listeners' %}
      <li class="pure-menu-heading">
        Further Resources
      </li>
      {% include docs_ul.html items='rest-api knowledge-base' %}
    </ul>
  </div>
</div>
