<div class="pure-u-1-5" id="docs-nav">
  <div class="pure-menu pure-menu-open">
    <ul>
      <li class="pure-menu-heading">
        Configuring CxEngage
      </li>
      {% include platform_ul.html items='home quickstart' %}
      <li class="pure-menu-heading">
        Key Concepts
      </li>
      {% include platform_ul.html items='instances services nodes processes tenants integrations users' %}
      <li class="pure-menu-heading">
        Further Resources
      </li>
      {% include platform_ul.html items='api' %}
    </ul>
  </div>
</div>
