<ul class="pure-paginator">
  {% if page.prev_section != null %}
    <li>
    <a class="pure-button prev" href="{{ site.url }}/{{page.version}}/docs/{{ page.prev_section }}/">
        &#171; Back
      </a>
    </li>
  {% else %}
    <li>
      <a class="pure-button pure-button-disabled prev" href="#">
        &#171; Back
      </a>
  {% endif %}
  {% if page.next_section != null %}
    <li>
    <a class="pure-button next" href="{{ site.url }}/{{page.version}}/docs/{{ page.next_section }}/">
        &#187; Next
      </a>
    </li>
  {% else %}
    <li>
      <a class="pure-button pure-button-disabled next" href="#">
        &#187; Next
      </a>
  {% endif %}
</ul>
